<% layout('layouts/boilerplate') %>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-1">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required />
          <div class="valid-feedback">
            Title looks good!
          </div>
        </div>

        <div class="mb-1">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Enter description" class="form-control" rows="3"
            required></textarea>
          <div class="invalid-feedback">
            Description cannot be blank.
          </div>
        </div>

        <div class="mb-1">
          <label for="image" class="form-label">Upload Image Listing</label>
          <input name="listing[image]"  type="file" class="form-control" />
          <!-- <div class="invalid-feedback">
            please provide a valid URL.
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-8 mb-1">
            <label for="price" class="form-label">Price (per night)</label>

            <div class="input-group">
              <span class="input-group-text">₹</span>
              <input name="listing[price]" placeholder="1200"  class="form-control" min="1" required />
              <!-- <div class="invalid-feedback">
                price should be valid
              </div> -->
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required />
            <div class="invalid-feedback">
              Country cannot be blank.
            </div>
          </div>
        </div>

        <div class="mb-2">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required />
          <div class="invalid-feedback">
            Location cannot be blank
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/listings" class="btn btn-secondary me-md-2">Cancel</a>
          <button type="submit" class="btn btn-dark add-btn ">Add Listing</button>
          <br>

        </div>
        <br>
      </form>
    </div>
  </div>