<% layout("layouts/boilerplate") %>

<div class="container-fluid p-0">
  <div class="alert alert-danger col-6 offset-3 mt-2" role="alert" style="margin-top:0;">
    <svg class="bi flex-shrink-0" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <h4 class="alert-heading"><%= err.message %></h4>
  </div>
</div>